// Add all your scss mixins to this file. This will be auto-included in all other scss files, so no need to import this file.
// ------------------------------------
// Breakpoints
// ------------------------------------

//* Breaks after a given width.
//*
//* example:
//*   $width: 1000px
//*   if width is greater than 1000px this style will take effect
//***********************************************/

@mixin breakpoint-after-and($width) {
  @media all and (min-width: $width) {
    @content;
  }
}

//* Breakes after and on given width
//*
//* example:
//*   $width: 1000px
//*   if width is greater than or equal to 1000px this style will take effect.
//***********************************************//

@mixin breakpoint-after($width) {
  @media all and (min-width: ($width + 1px)) {
    @content;
  }
}

//* Breaks before a given width.
//*
//* example:
//*   $width: 1000px
//*   if width is less than 1000px this style will take effect.
//***********************************************/

@mixin breakpoint-before($width) {
  @media all and (max-width: ($width - 1px)) {
    @content;
  }
}

//* Breaks before and on given width
//*
//* example:
//*   $width: 1000px
//*   if width is less than or equal to 1000px
//***********************************************//

@mixin breakpoint-before-and($width) {
  @media all and (max-width: $width) {
    @content;
  }
}

/* Breaks between two given points
***********************************************/

@mixin breakpoint-between($widthLesser, $widthGreater) {
  @media all and (min-width: $widthLesser) and (max-width: $widthGreater - 1px) {
    @content;
  }
}
