// Add all your scss variables to this file. This will be auto-included in all other scss files, so no need to import this file.
// ------------------------------------
// Colors
// ------------------------------------

//$color-primary              : #F0DAC5;
//$color-secondary            : #50223C;
//$color-third                : #1C2340;

//$color-primary              : #C6D6D2;
$color-primary              : #043c3c;
$color-secondary            : #4E8980;//#455855;
$color-third                : #045b62;
$color-new-black            : #111111;
//$color-primary              : #C6D6D2;
//$color-secondary            : #455855;
//$color-third                : #EDD2C4;

$color-text                 : #CBDCF7;


// ------------------------------------
// Theme and elements
// ------------------------------------

$color-nav-bar              : $color-third;
$color-main-background      : $color-primary;
$color-footer               : $color-third;

// Dark theme
$color-primary-dark-theme   : $color-new-black;
$color-footer-dark-theme    : $color-new-black;
$color-nav-bar-dark-theme   : $color-new-black;
$color-footer-dark-theme    : $color-new-black;


// ------------------------------------
// Spacing
// ------------------------------------

// ------------------------------------
// Breakpoints
// ------------------------------------

$breakpoint-mobile-s        : 320px;
$breakpoint-mobile          : 500px;
$breakpoint-tablet          : 768px;
$breakpoint-laptop          : 1024px;
$breakpoint-desktop         : 1152px;
$breakpoint-desktop-full-hd : 1980px;


// ------------------------------------
// Typography / font
// ------------------------------------

//400 font-weight
$font-goldman-regular: 'Goldman-Regular';

// ------------------------------------
// Font sizes
// ------------------------------------


// ------------------------------------
// Line height
// ------------------------------------


