<template>
  <div class="about">
    <h2 class="center-align">About codeWRLD</h2>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut nisi et leo ultricies blandit ut ut nunc. Integer varius commodo sollicitudin. Praesent semper dui sit amet nisl vehicula, eu hendrerit sapien tristique. Nunc pharetra felis ut est aliquam finibus. In pellentesque, turpis sit amet elementum tristique, sapien dolor aliquam nibh, at cursus diam diam pretium neque. Aliquam sollicitudin arcu auctor neque sagittis imperdiet sed eu dolor. Mauris malesuada rutrum augue, at sodales nunc ullamcorper eget. Maecenas cursus nisl eu nulla condimentum, et laoreet nunc venenatis. Fusce id posuere ex. Maecenas consectetur ultrices viverra. Nullam lacinia nulla dapibus justo auctor, et sodales odio viverra. Donec congue convallis est, imperdiet fermentum mi facilisis ut. Ut nec urna ac turpis placerat ultricies quis ac nunc. Donec vulputate molestie arcu non tempus.</div>
    <p>Duis scelerisque fermentum diam. Etiam augue turpis, bibendum eu luctus id, sagittis a lectus. Curabitur bibendum est sit amet feugiat auctor. In vestibulum consectetur nibh. Praesent bibendum odio ex, at tempus risus convallis in. In sit amet accumsan lectus. Praesent ex purus, maximus eget nisl at, ultricies fermentum neque.</p>
    <p>Duis scelerisque fermentum diam. Etiam augue turpis, bibendum eu luctus id, sagittis a lectus. Curabitur bibendum est sit amet feugiat auctor. In vestibulum consectetur nibh. Praesent bibendum odio ex, at tempus risus convallis in. In sit amet accumsan lectus. Praesent ex purus, maximus eget nisl at, ultricies fermentum neque.</p>
    <p>Duis scelerisque fermentum diam. Etiam augue turpis, bibendum eu luctus id, sagittis a lectus. Curabitur bibendum est sit amet feugiat auctor. In vestibulum consectetur nibh. Praesent bibendum odio ex, at tempus risus convallis in. In sit amet accumsan lectus. Praesent ex purus, maximus eget nisl at, ultricies fermentum neque.</p>
    <p>Duis scelerisque fermentum diam. Etiam augue turpis, bibendum eu luctus id, sagittis a lectus. Curabitur bibendum est sit amet feugiat auctor. In vestibulum consectetur nibh. Praesent bibendum odio ex, at tempus risus convallis in. In sit amet accumsan lectus. Praesent ex purus, maximus eget nisl at, ultricies fermentum neque.</p>
    <p>Duis scelerisque fermentum diam. Etiam augue turpis, bibendum eu luctus id, sagittis a lectus. Curabitur bibendum est sit amet feugiat auctor. In vestibulum consectetur nibh. Praesent bibendum odio ex, at tempus risus convallis in. In sit amet accumsan lectus. Praesent ex purus, maximus eget nisl at, ultricies fermentum neque.</p>
    <p>Duis scelerisque fermentum diam. Etiam augue turpis, bibendum eu luctus id, sagittis a lectus. Curabitur bibendum est sit amet feugiat auctor. In vestibulum consectetur nibh. Praesent bibendum odio ex, at tempus risus convallis in. In sit amet accumsan lectus. Praesent ex purus, maximus eget nisl at, ultricies fermentum neque.</p>
    <p>Duis scelerisque fermentum diam. Etiam augue turpis, bibendum eu luctus id, sagittis a lectus. Curabitur bibendum est sit amet feugiat auctor. In vestibulum consectetur nibh. Praesent bibendum odio ex, at tempus risus convallis in. In sit amet accumsan lectus. Praesent ex purus, maximus eget nisl at, ultricies fermentum neque.</p>
  </div>
</template>

<script lang="ts">
import {defineComponent, ref} from "vue";

// How to import more components
// import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src

export default defineComponent({
  name: "About",
  setup() {
    const count = ref(0)

    const increase = () => {
      count.value++
    }

    return {
      count,
      increase,
    }
  }
});

</script>
