<template>
  <header class="header">
    <div class="navbar-fixed">
      <nav>
        <div class="container nav-wrapper">

          <a href="index.html" class="brand-logo logo left"><img alt="codeWRLD" class="navbar-logo" src="Content/images/logo.svg" /></a>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="codesnippets.html">Code snippets</a></li>
            <li><a href="">Second</a></li>
            <li><a href="">Third</a></li>
          </ul>

        </div>
      </nav>
    </div>
  </header>
</template>

<script lang="ts">
import {defineComponent, ref} from "vue";
// import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src

export default defineComponent({
  name: "Home",
  setup() {
    const count = ref(0)

    const increase = () => {
      count.value++
    }

    return {
      count,
      increase,
    }
  }
});

</script>
