<template>
  <div class="home">
    <h2 class="center-align">codeWRLD</h2>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut nisi et leo ultricies blandit ut ut nunc. Integer varius commodo sollicitudin. Praesent semper dui sit amet nisl vehicula, eu hendrerit sapien tristique. Nunc pharetra felis ut est aliquam finibus. In pellentesque, turpis sit amet elementum tristique, sapien dolor aliquam nibh, at cursus diam diam pretium neque. Aliquam sollicitudin arcu auctor neque sagittis imperdiet sed eu dolor. Mauris malesuada rutrum augue, at sodales nunc ullamcorper eget. Maecenas cursus nisl eu nulla condimentum, et laoreet nunc venenatis. Fusce id posuere ex. Maecenas consectetur ultrices viverra. Nullam lacinia nulla dapibus justo auctor, et sodales odio viverra. Donec congue convallis est, imperdiet fermentum mi facilisis ut. Ut nec urna ac turpis placerat ultricies quis ac nunc. Donec vulputate molestie arcu non tempus.</div>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
    <p>Morbi convallis diam eu velit tincidunt placerat. Suspendisse posuere dolor ac feugiat accumsan. Duis lobortis blandit leo, ut viverra nisl viverra vitae. Curabitur ut dictum eros. Aliquam erat volutpat. Duis pretium, ipsum eget finibus sollicitudin, sem risus vestibulum velit, viverra aliquet libero orci at ligula.</p>
  </div>
</template>

<script lang="ts">
import {defineComponent, ref} from "vue";
// import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src

export default defineComponent({
  name: "Home",
  setup() {
    const count = ref(0)

    const increase = () => {
      count.value++
    }

    return {
      count,
      increase,
    }
  }
});

</script>
