.loader {
	border: 7px solid black;
	width: 40px;
	height: 40px;
	border-left-color: transparent;
	border-radius: 50%;
	animation: rotate 1s linear infinite;
	display: inline-block;
}

.loader:after {

}

@-webkit-keyframes rotate {
	/* 100% keyframe for  clockwise.
	   use 0% instead for anticlockwise */
	100% {
		-webkit-transform: rotate(360deg);
	}
}


