.scrollable-table{
	tbody {
		display: block;
		height: 200px;
		overflow: auto;
	}
	thead, tbody tr {
		display: table;
		width: 100%;
		table-layout: fixed;
	}
	thead {
		width: calc(100% - 1em);
	}
}

table.scrollable-table{
	width: 100%;
}

