@font-face {
  font-family: 'Goldman-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/font/Goldman-Regular/goldman-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/font/Goldman-Regular/goldman-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/font/Goldman-Regular/goldman-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/font/Goldman-Regular/goldman-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/font/Goldman-Regular/goldman-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/font/Goldman-Regular/goldman-v1-latin-regular.svg#Goldman') format('svg'); /* Legacy iOS */
}


