html{
	height: 100%; /*required for sticky footer*/
	width: 100%;
}

html, body {
	overflow-x: hidden;
}
body, .app-wrapper{
	position: relative;
	//min-height: 100%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

a{
	text-decoration: none;
	color: inherit;
}

.visible{
	display: block;
}

.hidden{
	display: none;
}

.blue-h3{
	color: blue;
}
