/**
    Sticky footer
 */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.padding-adjust {
  padding: 0 .75rem;
}


// NOT IN USE
/**
    Fixed footer
 */

//@include breakpoint-after-and($breakpoint-laptop){
//  .page-footer {
//    position: fixed;
//    left: 0;
//    bottom: 0;
//    width: 100%;
//  }
//}
