
.default-theme{
  header {

    nav {
      background-color: $color-nav-bar;

      ul > a {
        color: $color-text !important;
      }
    }
  }

  main {
    background-color: $color-primary;
    // background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
  }


  footer.page-footer {
    background-color: $color-footer;

    color: $color-text !important;

    .footer-copyright {
      color: $color-text !important;
      background-color: $color-footer;
    }
  }


  nav ul a {
    color: $color-text !important
  }
}

.dark-theme{
  header {

    nav {
      background-color: $color-nav-bar-dark-theme;

      ul > a {
        color: $color-text !important;
      }
    }
  }

  main {
    background-color: $color-primary-dark-theme;
    // background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
  }

  footer.page-footer {
    background-color: $color-footer-dark-theme;
    color: $color-text !important;

    .footer-copyright {
      color: $color-text !important;
      background-color: $color-footer-dark-theme;
    }
  }

  nav ul a {
    color: $color-text !important
  }
}
