<template>
  <div class="app-wrapper default-theme" :class="themeClass">
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="container nav-wrapper">

            <a href="/" class="brand-logo logo left"><img alt="codeWRLD" class="navbar-logo" src="assets/images/logo.svg"/></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><router-link to="/">Home</router-link></li>
              <li><router-link to="/about">Go to about</router-link></li>
              <li><a href="">Third</a></li>
              <li>
                <a class="waves-effect waves-light btn-small" @click="toggleTheme">{{ themeString }}</a>
              </li>
            </ul>

          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="container padding-adjust">
        <div class="row">
          <transition name="route">
            <router-view/>
          </transition>
<!--          <router-view v-slot="{ Component }">-->
<!--            <transition name="route">-->
<!--              <component :is="Component" />-->
<!--            </transition>-->
<!--          </router-view>-->
<!-- NOT WORKING -->
<!--            <router-view v-slot="{ component }">-->
<!--                <transition name="route">-->
<!--                    <component :is="component" />-->
<!--                </transition>-->
<!--            </router-view>-->
        </div>
      </div>
    </main>

    <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>codeWRLD</h5>
          <p></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5>Links</h5>
          <div class="flex-container">
            <a href="https://www.instagram.com/codeWRLDAS/"><img class="footer-icon" alt="Instagram" src="assets/images/instagram-logo.svg"/></a>
            <a href="https://www.twitter.com/codeWRLDAS/"><img class="footer-icon" alt="Twitter" src="assets/images/twitter-logo.svg"/></a>
            <a href="https://bitbucket.org/codeWRLDAS/"><img class="footer-icon" alt="Bitbucket" src="assets/images/bitbucket-logo.svg"/></a>
            <a href="mailto:codewrld.as@gmail.com"><img class="footer-icon" alt="Contact" src="assets/images/ios-mail-logo.svg"/></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container padding-adjust">
        © 2020 codeWRLD
        <a class="right" href="">Org: 12345678</a>
      </div>
    </div>
    </footer>

<!--  <h2 class="blue-h3">This is a Vue 3 component!</h2>-->
<!--  <button @click="increase">Clicked {{ count }} times.</button>-->

<!--  <router-link to="/">Go Home</router-link>-->
<!--  <router-link to="/about">Go to about</router-link>-->
  <!-- component matched by the route will render here -->

  </div>
</template>

<script lang="ts">
import {defineComponent, ref, computed} from "vue";
import Home from "./views/Home.vue";

export default defineComponent({
  name: "App",
  components: {
    Home
  },
  watch: {

  },
  computed: {
    // isPositive() { return true }
    themeClass: {
      // getter
      get() {
        return "Dark mode?";
      },
      // setter
      set(newValue) {

      }
    }
  },
  methods: {
    updateThemeString(darkThemeIsEnabled: Boolean){
      this.themeClass = darkThemeIsEnabled ? "Dark mode?" : "Normal mode?";
    }
  },
  data() {
    return {
      theme: 'blue-theme',
      // themeClass: 'default-theme',
      // darkThemeIsEnabled: false
    };
  },
  props: {
    testProp: {
      type: String,
      default: 'default-prop-value',
    }
  },
  setup() {
    const count = ref(0);
    let darkThemeIsEnabled: Boolean = false;
    const defaultThemeString: String = "Normal mode?";
    const darkThemeString: String = "Dark mode?";
    let themeString = ref(defaultThemeString);
    let defaultThemeClass: String = "default-theme";
    let darkThemeClass: String = "dark-theme";
    let themeClass = ref(defaultThemeClass);

    const increase = () => {
      count.value++;
    }

    function toggleTheme(): void {
      darkThemeIsEnabled = !darkThemeIsEnabled;
      themeClass.value = darkThemeIsEnabled ? darkThemeClass : defaultThemeClass;
      if(darkThemeIsEnabled){
        themeString.value = darkThemeString;

      }
      else{
        themeString.value = defaultThemeString;
      }
    }

    // let computedTheme = computed()) => {
    //   return darkThemeIsEnabled ? 'dark-theme' : 'default-theme';
    // }


    // Return vars and functions
    return {
      count,
      increase,
      toggleTheme,
      darkThemeIsEnabled,
      themeString,
      themeClass
    }
  }
});
</script>

<style lang="scss">

</style>


